.title {
    color: #0D0D0D;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    &_left {
        font-size: 30px;
        line-height: 50px;
        color: #FFFFFF;
        text-align: left;
    }

}